:root {
    --primary-text-color: #000000;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2f303a;
}

* {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

h2 {
    text-align: center;
    font-size: 32px;
    padding: 40px;
}

.header-navegation {
    display: inline-flex;
    padding-right: 0%;
}

.header-menu-list {
    display: inline-flex;
    padding-top: 18px;

}

.header-link {
    margin: 25px;
    margin-left: 0%;
}

.header-contact-list {
    display: inline-flex;
    padding-top: 18px;

}

h3 {
    font-size: 14px;
}

.section-details {
    padding-left: 215px;
    padding-right: 215px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;

}

.section-details-p0 {
    width: 270px;
    height: 101px;
}

.section-details-p1 {
    width: 270px;
    height: 122px;
    padding-left: 30px;
}

.section-details-p2 {
    width: 270px;
    height: 101px;
    padding-left: 30px;
}

.section-details-p3 {
    width: 270px;
    height: 101px;
}

.images-a-que-nos-dedicamos {
    display: flex;
    padding-left: 215px;
    padding-right: 215px;
    padding-top: 30px;
    padding-bottom: 94px;
    justify-content: space-between;
}

.info-header-email {
    text-decoration: none;
    color: var(--secondary-text-color);
}

.info-header-email:hover {
    color: var(--accent-color);
}

.info-header-phone {
    text-decoration: none;
    color: var(--secondary-text-color);
    margin-left: 50px;
}

.info-header-phone:hover {
    color: var(--accent-color);

}

.principal-aside {
    background-color: rgb(47, 48, 58);
    text-align: center;
    text-decoration: none;

}

h1 {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 44px;
    white-space: pre-line;
    text-align: center;
    letter-spacing: 0.06em;
    flex-direction: column;
    padding-top: 120px;

}

.btn-primary:hover {
    background: rgb(97, 97, 219);
    color: 2196F3;
    cursor: pointer;
}

.btn-primary {
    background: 2196F3;
    color: var(--accent-color);
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    display: inline;
    margin-bottom: 180px;
}

.btn-primary {
    background: var(--accent-color);
    color: white;
    cursor: pointer
}

.container-buttons {
    margin-left: 680px;
    padding-top: 80px;
    padding-bottom: 30px;
}

.botones-nav {
    width: 611px;
    display: flex;
    justify-content: space-between;
}

button {
    background: rgb(245, 244, 250);
    color: black;
    cursor: pointer;
    border: none;
    justify-items: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;
}

button:hover {
    background: var(--accent-color);
    color: white;
    cursor: pointer
}

button:active {
    background: gray;
    color: white;
    cursor: pointer
}

.info-aside {
    color: rgb(2, 2, 2);
    text-decoration: none;
}

.info-aside:hover {
    color: var(--accent-color);
}

.info-aside:active {
    color: rgb(79, 149, 240);
}

header {
    display: inline;
    width: 281px;
    height: 16px;
    left: 453px;
    top: 32px;
}

.header-link {
    color: var(--primary-text-color);
    text-decoration: none;

}

.header-link:hover {
    color: var(--accent-color);

}

.info-header {
    text-decoration: none;
    color: var(--secondary-text-color);
}

.info-header:hover {

    color: var(--accent-color);

}

footer {
    text-decoration: none;
    background-color: rgb(47, 48, 58);
    color: aliceblue;
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 215px;
    padding-right: 215px;
    margin-bottom: 9px;
}

.logo-header {
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);
    font-size: 26px;
    box-shadow: none;
    text-decoration: none;
    border-radius: 0%;
    margin-right: 93px;
    padding-top: 24px;
    padding-left: 215px;
}

.logo-footer {
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);
    font-size: 26px;
    box-shadow: none;
    text-decoration: none;
}


.footer-address {
    cursor: pointer;
}

.section-details-p {
    color: var(--secondary-text-color);

}



.container-our-equip {

    background-color: rgb(245, 244, 250);
}

.miembros {
    padding-left: 215px;
    padding-right: 215px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
}

.primer-miembro {
    width: 270px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.segundo-miembro {
    width: 270px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.tercer-miembro {
    width: 270px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.cuarto-miembro {
    width: 270px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.max-container-item {
    padding-left: 300px;
    padding-right: 300px;
}

.container-products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.item-container {
    width: 370px;
    height: 440px;
    display: inline-grid;
    padding-left: 120px;

}

.item-container :hover {
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}