:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196f3;
    --primary-background-color: #ffffff;
    --secondary-background-color: #2f303a;
}

* {
    list-style: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
}

.principal-aside {
    background-color: rgb(47, 48, 58);
    text-align: center;
    text-decoration: none;
}

h1 {
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 44px;
    white-space: pre-line;
    text-align: center;
    letter-spacing: 0.06em;

}

.btn-primary:hover {
    background: rgb(97, 97, 219);
    color: 2196F3;
    cursor: pointer;
}

.btn-primary {
    background: 2196F3;
    color: var(--accent-color);
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    display: inline;
}

.btn-primary {
    background: var(--accent-color);
    color: white;
    cursor: pointer
}

button {
    background: light-gray;
    color: black;
    cursor: pointer
}

button:hover {
    background: blue;
    color: white;
    cursor: pointer
}

button:active {
    background: gray;
    color: white;
    cursor: pointer
}

.info {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.info:hover {
    color: var(--accent-color);
}

.info-aside {
    color: rgb(2, 2, 2);
    text-decoration: none;
}

.info-aside:hover {
    color: var(--accent-color);
}

.info-aside:active {
    color: rgb(79, 149, 240);
}

header {
    display: inline;
    width: 281px;
    height: 16px;
    left: 453px;
    top: 32px;
}

.header-link {
    color: var(--primary-text-color);
    text-decoration: none;

}

.header-link:hover {
    color: var(--accent-color);

}

.info-header {
    text-decoration: none;
    color: var(--secondary-text-color);
}

.info-header:hover {

    color: var(--accent-color);

}

footer {
    text-decoration: none;
    background-color: rgb(47, 48, 58);
    color: aliceblue;
}

.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);
    font-size: 26px;
    box-shadow: none;
    text-decoration: none;
}

.footer-address {
    cursor: pointer;
}

.section-details-p {
    color: var(--secondary-text-color);
}

.our-equip {
    background-color: rgb(245, 244, 250);
}